body {
	line-height: 1;
	overflow-x: hidden;
	width: 100%;
	height: fit-content;
	background-color: #f5f5f5;
	font-size: 1em;
	font-family: "Roboto Slab", serif;
	line-height: 1.5;
	position: relative;
}
nav,
.navbar-brand {
	font-size: 2rem;
}

.navbar-brand {
	justify-content: space-between;
	align-items: baseline;
}

nav img {
	height: 50px;
	width: auto;
}

.navbar {
	--bs-navbar-toggler-icon-bg: none;
}

a {
	text-decoration: none;
}

.navbar-toggler {
	border: none;
}

h2 {
	font-size: 2rem;
}


.bottom-article-image-div {
	width: 30%;
}
.bottom-text-box {
	width: 50%;
}
@media (prefers-color-scheme: dark) {
	body,
	.navbar,
	a,
	.nav-link,
	.navbar-brand span {
		background-color: #11001c;
		color: #f8f7ff;
	}
	.nav-link:hover,
	.text-links:hover {
		color: #ffa3fd;
	}
	#about-section a {
		background-color: inherit;
	}
	.inptBtn {
		background-color: #ff8fb1;
	}
	.navbar-toggler-icon {
		color: #ff8fb1;
	}

	.text-links {
		color: #ffd8be;
	}
	h1,h2,h3,h4,h5,h6 {
	color:#ffa3fd ;
}
nav {
	border-bottom: 2px solid #ffa3fd;
}

}

@media (prefers-color-scheme: light) {
	body,
	.navbar,
	.nav-link,
	.navbar-brand span {
		background-color: #f8f7ff;
		color: #000;
	}

	a {
		color: #000;
	}
	.nav-link:hover,
	.text-links:hover {
		color: #92bfd9;
	}
	#about-section a {
		background-color: inherit;
	}
	:root {
		--border: 3px;
		--color1: #92bfd9;
		--color2: #ccced3;
	}
	.inptBtn {
		background-color: #92bfd9;
	}

	.navbar-toggler-icon {
		color: #92bfd9;
	}

	.text-links {
		font-weight: bolder;
		color: #11001c;
	}

	nav {
	border-bottom: 2px solid #92bfd9;
}

	h1,h2,h3,h4,h5,h6, #new-title {
	font-weight: bold;
	color: #19456B;
}
}
@media (max-width: 1440px) {
	
}

@media (max-width: 820px) {
	#blog-div {
		width: 90%!important;

	}
}

@media (max-width: 450px) {
#top-left {
		width: 100%!important;
	}
	#top-right {
		width: 100%!important;
	}
}

@media (max-width: 400px) {
}
