html,
body,
div,
span,
applet,
object,
iframe,
#blogHeader,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#blogHeader,
.titles {
	font-family: "Montserrat", sans-serif;
}
#blogHeader {
	font-size: 5rem;
}
.titles {
	font-size: 2rem;
}
body {
	background-color: #f5f5f5;
	font-size: 1em;
	font-family: "Roboto Slab", serif;
	line-height: 1.5;
}
.blogDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#headerBanner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 250px;
	width: 100vw;
}
nav,
.navbar-brand {
	font-size: 2rem;
}

.navbar-brand {
	justify-content: space-between;
	align-items: baseline;
}

nav img {
	height: 50px;
	width: auto;
}

.navbar {
	--bs-navbar-toggler-icon-bg: none;
}

a {
	text-decoration: none;
}

.navbar-toggler {
	border: none;
}

:root {
}

@media (prefers-color-scheme: dark) {
	body,
	.navbar,
	a,
	.nav-link,
	.navbar-brand span {
		background-color: #11001c;
		color: #f8f7ff;
	}
	.nav-link:hover,
	.text-links:hover {
		color: #ffa3fd;
	}
	#about-section a {
		background-color: inherit;
	}
	.inptBtn {
		background-color: #ff8fb1;
	}
	.navbar-toggler-icon {
		color: #ff8fb1;
	}

	.text-links {
		color: #ffd8be;
	}

	#headerBanner {
		border-top: 1px solid #ffa3fd;
	}
}

@media (prefers-color-scheme: light) {
	body,
	.navbar,
	.nav-link,
	.navbar-brand span {
		background-color: #f8f7ff;
		color: #000;
	}

	a {
		color: #000;
	}
	.nav-link:hover,
	.text-links:hover {
		color: #92bfd9;
	}
	#about-section a {
		background-color: inherit;
	}
	:root {
		--border: 3px;
		--color1: #92bfd9;
		--color2: #ccced3;
	}
	.inptBtn {
		background-color: #92bfd9;
	}

	.navbar-toggler-icon {
		color: #92bfd9;
	}

	.text-links {
		font-weight: bolder;
		color: #11001c;
	}
	#headerBanner {
		border-top: 1px solid #92bfd9;
	}
}
@media (max-width: 1440px) {
}

@media (max-width: 820px) {
}

@media (max-width: 450px) {
	#blogHeader {
		font-size: calc(2.5rem);
	}
	#headerBanner {
		height: 200px;
	}
}

@media (max-width: 400px) {
		#blogHeader {
		font-size: calc(2.2rem);
	}
}
