<!DOCTYPE html>
<html lang="en">
<%- include('blogHead') %>

<body>
    <%- include('blogNav') %>

    <div class="blogDiv">
        <div id="headerBanner">
            <h1 id="blogHeader">Web Dev Jev Blog</h1>
        </div>
        <div id="bannerImageContainer">
            <img id = 'bannerImage' src="https://wallpapercave.com/wp/wp11582697.jpg" alt="Banner">
        </div>
        <ul class="postsContainer">
            <% for( let post of blogPosts) { %>
            <ul class="posts">
                <h3 class="blogTitles">Lorem ipsum dolor sit.</h3>
                <h4 class="blogDate">Lorem</h4>
                <p class="blogPost">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sint quidem hic libero esse exercitationem porro distinctio facilis laboriosam, ipsa officia ratione aliquid aliquam?</p>
            </ul>
            <% } %>
        </ul>
    </div>
</body>

</html>