	<section id="about-section" class="mx-auto d-flex flex-column justify-content-evenly">
		<div class="about-txt">
			<h2 id="about-title" class="titles">About me</h2>
			<h4>Background</h4>
			<p>As a child in Jamaica, I was attracted to any piece of technology I could get my hands on. The best days
				of the week for me was the weekend when I could see my cousin to play Pokemon with him, have my friend
				bring over a PS2 game for me to play on after I had begged my dad to send me a game from America and
				eventually my own gameboy when my mom had the chance to travel to America. I quickly grew fascinated to
				the amount that these small devices could do and did not hesitate when I got to America to discover as
				much as I could about them. Overtime as I could afford more devices I started taking apart my 2DS,
				Nintendo Switch, PC and more. I didn't know what I wanted to do as a career yet but I was sure it would
				be something hands on with technology</p>
			<h4>Why do I code?</h4>
			<p>At first I played around with the idea of a doctor or a lawyer to please my parents but they never felt
				right. When I started thinking more of what I wanted to do, I stumbled across <span><a
						aria-label="Link to Python for Everybody website" class='text-links'
						href="https://www.py4e.com">Python for everybody</a></span>, a free resource by <span><a
						aria-label="Link to Python for Everybody's Professor Charles Severance personal website"
						class='text-links' href="https://www.dr-chuck.com"> Professor Charles Severance</a></span> who
				for me broke the complexity of coding/programming. Writing code has quickly become the most rewarding
				experience of my life and is something I do more for myself than anything else </p>
			<h4>Why hire me?</h4>
			<p>As someone truly passionate about what they do, I will always put my all to make sure that I do an
				amazing job and go above and become what is expected of me. I come with a promise of excellence since I
				don't know how to do anything less. I am always willing to adjust and improve my work to grow as a
				developer/programmer</p>
			<h4>Notion Notes</h4>
			<p>I've pushed myself to learn how to code for almost half a year now and I am very proud of my progress.
				Take a look at my <a aria-label="Link to Jevon's notes on Notion" class="text-links"
					href="https://jthompsonx.notion.site/5a2c7eccfe684d76b6f1c05ac2767d37?v=86ef74930e3140cb8f4f3cd49d14ef84">Notion
					notes</a> to see
				how dedicated I am to learning my craft</p>
		</div>
	</section>