<nav class="navbar navbar-expand-lg">
		<div class="container-md">
			<a aria-label="Navbar" class="navbar-brand" href="/">
				<span><img src="images/logo.svg" alt="Gif of a cat typing on a laptop"
						class="d-inline-block align-text-top" /></span>
				<span>WebDevJev</span></a> </a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"><i class="fa-sharp fa-solid fa-angle-down"></i></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a aria-label="Navbar link to welcome section" class="nav-link" aria-current="page"
							href="/">Home</a>
					</li>
					<li class="nav-item">
						<a aria-label="Navbar link to project secion" class="nav-link"
							href="/#project-section">Projects</a>
					</li>
					<li class="nav-item">
						<a aria-label="Navbar link to about secion" class="nav-link" href="/#about-section">About</a>
					</li>
					<li class="nav-item">
						<a aria-label="Navbar link to contact secion" class="nav-link"
							href="/#contact-section">Contact</a>
					</li>
										<li class="nav-item">
						<a aria-label="Navbar link to contact secion" class="nav-link"
							href="/WebDevBlog">Blog</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>