	<main id="project-section">
		<h2 id="project-title" class="titles">Projects</h2>
		<div class="proj-row">
			<div class="proj-card">
				<div class="proj-img-box">
					<img src="images/proj-carolina.webp" alt="" class="proj-img" />
				</div>
				<div class="proj-text-box">
					<h4 class="proj-heading">Carolina heals</h4>
					<div class="proj-skills-type-wrapper">
						<img class="proj-skill-image" src="images/html.webp" alt="" />
						<img class="proj-skill-image" src="images/css.webp" alt="" />
						<img class="proj-skill-image" src="images/bootstrap.webp" alt="" />
						<img class="proj-skill-image" src="images/javascript.webp" alt="" />
					</div>
					<ul class="proj-text">
						<li>Base bootstrap styling</li>
						<li>Calendly integration for scheduling</li>
						<li>SEO optimized</li>
						<li>Accessibility focused</li>
						<li>Responsive design</li>
					</ul>
					<div class="proj-btn-section">
						<a aria-label="Link to carolina heals website" class="proj-button"
							href="https://www.carolinaheals.com">
							<span><img class="button-images" src="images/sandbox.webp"
									alt="Sandbox with html logo" /></span>
							Try
						</a>
						<a aria-label="Link to Carolina heals website repository"
							href="https://github.com/JevonThompsonx/Carolina" class="proj-button">
							<span><img class="button-images" src="images/github.webp" alt="Github logo" /></span>
							Repo
						</a>
					</div>
				</div>
			</div>
			<div class="proj-card">
				<div class="proj-img-box">
					<img src="images/proj-dict.webp" alt="" class="proj-img" />
				</div>
				<div class="proj-text-box">
					<h4 class="proj-heading">Dictionary API</h4>
					<div class="proj-skills-type-wrapper">
						<img class="proj-skill-image" src="images/html.webp" alt="" />
						<img class="proj-skill-image" src="images/css.webp" alt="" />
						<img class="proj-skill-image" src="images/bootstrap.webp" alt="" />
						<img class="proj-skill-image" src="images/javascript.webp" alt="" />
					</div>

						<ul class="proj-text">
							<li>Bootstrap base styling</li>
							<li>Javascript DOM manipulation</li>
							<ul>
								<li>Dark mode toggle</li>
								<li><a aria-label="Link to Dictionary API's homepage"
										href="https://dictionaryapi.dev">https://dictionaryapi.dev's</a> search on
										load and submit </li>
							</ul>
							<li>Responsive design</li>

						</ul>

					<div class="proj-btn-section">
						<a aria-label="Link to Dictionary API project" class="proj-button"
							href="https://jevonthompsonx.github.io/DictionaryAPI/">
							<span><img class="button-images" src="images/sandbox.webp"
									alt="Sandbox with html logo" /></span>
							Try
						</a>
						<a aria-label="Link to Dictionary Project github Repository"
							href="https://github.com/JevonThompsonx/DictionaryAPI" class="proj-button">
							<span><img class="button-images" src="images/github.webp" alt="Github logo" /></span>
							Repo
						</a>
					</div>
				</div>
			</div>
			<div class="proj-card">
				<div class="proj-img-box">
					<img src="images/proj-linktree.webp" alt="" class="proj-img" />
				</div>
				<div class="proj-text-box">
					<h4 class="proj-heading">Linktree clone</h4>
					<div class="proj-skills-type-wrapper">
						<img class="proj-skill-image" src="images/html.webp" alt="" />
						<img class="proj-skill-image" src="images/css.webp" alt="" />
						<img class="proj-skill-image" src="images/bootstrap.webp" alt="" />
					</div>

						<ul class="proj-text">
							<li>Bootstrap quick styling</li>
							<li>Javascript share button</li>
							<li>Responsive design</li>
						</ul>

					<div class="proj-btn-section">
						<a aria-label="Link to Linktree Clone website" class="proj-button"
							href="https://jevonthompsonx.github.io/LinkTree-Clone/">
							<span><img class="button-images" src="images/sandbox.webp"
									alt="Sandbox with html logo" /></span>
							Try
						</a>
						<a aria-label="Link to Linktree Clone website Repository"
							href="https://github.com/JevonThompsonx/LinkTree-Clone" class="proj-button">
							<span><img class="button-images" src="images/github.webp" alt="Github logo" /></span>
							Repo
						</a>
					</div>
				</div>
			</div>
			<div class="proj-card">
				<div class="proj-img-box">
					<img src="images/proj-ping.webp" alt="" class="proj-img" />
				</div>
				<div class="proj-text-box">
					<h4 class="proj-heading">Ping Pong Project</h4>
					<div class="proj-skills-type-wrapper">
						<img class="proj-skill-image" src="images/html.webp" alt="" />
						<img class="proj-skill-image" src="images/css.webp" alt="" />
						<img class="proj-skill-image" src="images/javascript.webp" alt="" />
					</div>
					<ul class="proj-text">
						<li>Basic CSS styling</li>
						<li>Javscript DOM manipulation score tracker</li>
						<ul>
							<li>Sets max score using variables</li>
							<li>Resets score when setting max</li>
							<li>Locks score at max using if/else</li>
							<li>Reset button for manual score reset</li>
						</ul>

					</ul>
					<div class="proj-btn-section">
						<a aria-label="Link to try Ping Pong Project" class="proj-button"
							href="https://jevonthompsonx.github.io/PingPongProject/">
							<span><img class="button-images" src="images/sandbox.webp"
									alt="Sandbox with html logo" /></span>
							Try
						</a>
						<a aria-label="Link to Ping Pong Project Repository"
							href="https://github.com/JevonThompsonx/PingPongProject" class="proj-button">
							<span><img class="button-images" src="images/github.webp" alt="Github logo" /></span>
							Repo
						</a>
					</div>
				</div>
			</div>
			<div class="proj-card">
				<div class="proj-img-box">
					<img src="images/tv.webp" alt="" class="proj-img" />
				</div>
				<div class="proj-text-box">
					<h4 class="proj-heading">TV Show search</h4>
					<div class="proj-skills-type-wrapper">
						<img class="proj-skill-image" src="images/html.webp" alt="" />
						<img class="proj-skill-image" src="images/css.webp" alt="" />
						<img class="proj-skill-image" src="images/javascript.webp" alt="" />
					</div>
					<ul class="proj-text">
						<li>Simple css styling</li>
						<li>API search using <a href="https://www.tvmaze.com">TV Maze API</a></li>
						<li>Dom manipulation based on API results</li>
					</ul>
					<div class="proj-btn-section">
						<a aria-label="Link to carolina heals website" class="proj-button"
							href="https://jevonthompsonx.github.io/TV-Show-Search/">
							<span><img class="button-images" src="images/sandbox.webp"
									alt="Sandbox with html logo" /></span>
							Try
						</a>
						<a aria-label="Link to Carolina heals website repository"
							href="https://github.com/JevonThompsonx/TV-Show-Search" class="proj-button">
							<span><img class="button-images" src="images/github.webp" alt="Github logo" /></span>
							Repo
						</a>
					</div>
				</div>
			</div>

		</div>
	</main>