	<section id = 'skills-section' class=" d-flex flex-column justify-content-around align-items-center">
		<h2 id="skills-header" class="titles">Other skills:</h2>
		<div class="w-75 mx-auto d-flex flex-wrap justify-content-evenly align-items-evenly" id="skill-images-wrapper">
	
			<div id="python-logo" class="skills-img-box">
				<img class="" src="images/python.webp" alt="python programming language logo" />
			</div>

			<div id="git-logo" class="skills-img-box">
				<img class="" src="images/Git-logo.webp" alt="Git logo" />
			</div>
			<div id="github-logo" class="skills-img-box">
				<img class="" src="images/github.webp" alt="Github hosting platform logo" />
			</div>

			<div id="linux-logo" class="skills-img-box">
				<img class="" src="images/LINUX-LOGO-453x500.webp" alt="Linux penguin logo" />
			</div>
			<div id="railway-logo" class="skills-img-box">
				<img class="" src="images/railway-white.webp" alt="Railway website logo" />
			</div>
			
		</div>
	</section>