	<section id="skills-section">
		<h2 id="skills-header" class="titles">My Skills:</h2>
		<div id="skill-images-wrapper">
			<div id="html-logo" class="skills-img-box">
				<img class="col" src="images/html.webp" alt="html coding language logo" />
			</div>
			<div id="css-logo" class="skills-img-box">
				<img class="col" src="images/css.webp" alt="css coding language logo" />
			</div>

			<div id="bootstrap-logo" class="skills-img-box">
				<img class="col" src="images/bootstrap.webp" alt="Bootstrap framework logo" />
			</div>

			<div id="javascript-logo" class="skills-img-box">
				<img class="" src="images/javascript.webp" alt="javascript programming language logo" />
			</div>
			<div id="python-logo" class="skills-img-box">
				<img class="" src="images/python.webp" alt="python programming language logo" />
			</div>
			<div id="nodejs-logo" class="skills-img-box">
				<img class="" src="images/nodejs-logo.webp" alt="Node.js logo" />
			</div>
			<div id="git-logo" class="skills-img-box">
				<img class="" src="images/Git-logo.webp" alt="Git logo" />
			</div>

			<div id="github-logo" class="skills-img-box">
				<img class="" src="images/github.webp" alt="Github hosting platform logo" />
			</div>

			<div id="linux-logo" class="skills-img-box">
				<img class="" src="images/LINUX-LOGO-453x500.webp" alt="Linux penguin logo" />
			</div>
		</div>
	</section>