<section id="stack-section" class="d-flex flex-column justify-content-around align-items-center">
	<h2 id="skills-header" class="titles">Tech Stack</h2>
	<div id="stack-img-box" class="w-75 mx-auto d-flex flex-wrap justify-content-evenly align-items-evenly">
		<div id="html-logo" class="stack-img-box">
			<img src="images/html.webp" alt="html coding language logo" />
		</div>
		<div id="css-logo" class="stack-img-box">
			<img src="images/css.webp" alt="css coding language logo" />
		</div>
		
		<div id="mongoDB-logo" class="stack-img-box" title="MongoDB">
			<img src="images/mongoDB.webp" alt="Mongo database logo" />
		</div>
		<div id="nodejs-logo" class="stack-img-box" title="ExpressJS and NodeJS">
			<img class="" src="images/expressjs.webp" alt="Node.js logo" />
		</div>

		<!-- <div id="react-logo" class="stack-img-box" title="React">
			<img src="images/react.webp" alt="react frontend framework logo" />
		</div> -->
		<div id="tailwind-logo" class="stack-img-box" title="TailwindCSS">
			<img src="images/tailwind.webp" alt="Tailwind css logo" />
		</div>
		<!-- <div id="javascript-logo" class="stack-img-box">
			<img class="" src="images/javascript.webp" alt="javascript programming language logo" />
		</div> -->
		<div id="typescript-logo" class="stack-img-box" title="Typescript">
			<img class="" src="images/typescript-logo.webp" alt="typescript programming language logo" />
		</div>


	</div>

</section>