<section id="stack-section" class="d-flex flex-column justify-content-around align-items-center">
    <h2 id="skills-header" class="titles">Tech Stack</h2>
    <div id="stack-img-box" class="w-75 mx-auto d-flex flex-wrap justify-content-evenly align-items-evenly">
        			<div id="html-logo" class="stack-img-box">
				<img src="images/html.webp" alt="html coding language logo" />
			</div>
			<div id="css-logo" class="stack-img-box">
				<img  src="images/css.webp" alt="css coding language logo" />
			</div>
            		<div id="bootstrap-logo" class="stack-img-box">
				<img  src="images/tailwind.webp" alt="Tailwind framework logo" />
			</div>
			
            			<div id="javascript-logo" class="stack-img-box">
				<img class="" src="images/javascript.webp" alt="javascript programming language logo" />
			</div>
					<div id="typescript-logo" class="stack-img-box">
				<img class="" src="images/typescript-logo.webp" alt="javascript programming language logo" />
			</div>
			<div id="nodejs-logo" class="stack-img-box">
				<img class="" src="images/expressjs.webp" alt="Node.js logo" />
			</div>
	 

    </div>

</section>