	<section id="welcome-section" class="container-md d-flex flex-column justify-content-evenly align-items-center">
		<div id="typing-text-div">
			<h1 id="typing-text">
				Hi I'm Jevon Thompson <span id="wave">👋🏾</span>
			</h1>
		</div>
		<div class="welcome-img-box">
			 			<img id="welcome-img" class="mx-auto" src="images/Me-modified.webp" alt="" />
		</div>
		<p></p>
		<div id="welcome-section-social-links" class="links d-flex justify-content-evenly w-50 mx-auto">
			<a aria-label="github link" href="https://github.com/JevonThompsonx"><i id="github-logo"
					class="fa-brands fa-github"></i></a>
			<a aria-label="instragram link" href="https://www.instagram.com/jevonxt/" class="insta"><i
					class="fa-brands fa-instagram"></i></a>
			<a aria-label="twitter link" href="https://twitter.com/JevonThompson12" class="twitter"><i
					class="fa-brands fa-twitter"></i></a>
		</div>
	</section>