			<div class="proj-card">
				<div class="proj-img-box">
					<img src="images/mySite.webp" alt="" class="proj-img" />
				</div>
				<div class="proj-text-box">
					<h4 class="proj-heading">WebDevJev Blogsite </h4>
					<div class="proj-skills-type-wrapper">
						<img class="proj-skill-image" src="images/html.webp" alt="" />
						<img class="proj-skill-image" src="images/css.webp" alt="" />
						<img class="proj-skill-image" src="images/bootstrap.webp" alt="" />
						<img class="wide-skill-image" src="images/nodejs-logo.webp" alt="" />
						<img class="proj-skill-image" src="images/javascript.webp" alt="" />
						<img class="proj-skill-image" src="images/railway-clear.webp" alt="" />
					</div>
					<ul class="proj-text">
						<li class="css">Css styling</li>
						<ul>
							<li>Dark mode and color mode loads based on device theme</li>
						</ul>
						<li class="nodejs" >Nodejs</li>
						<ul><li>
							Express and ejs for https routing to load page and assets
						</li></ul>
						<li>Deployed using <span class="railway">Railway</span> </li>
					</ul>
					<div class="proj-btn-section">
						<a aria-label="Link to Jevon Thompson's personal website" class="proj-button"
							href="https://arboreal-vector-385620.ue.r.appspot.com/">
							<span><img class="button-images" src="images/sandbox.webp" alt="Sandbox with html logo" /></span>
							Try
						</a>
						<a aria-label="Link to Jevon Thompson's personal website repository"
							href="https://github.com/JevonThompsonx/WebDevBlogsite" class="proj-button">
							<span><img class="button-images" src="images/github.webp" alt="Github logo" /></span>
							Repo
						</a>
					</div>
				</div>
			</div>