			<div class="proj-card">
				<div class="proj-img-box">
					<img src="images/calcPic.png" alt="" class="proj-img" />
				</div>
				<div class="proj-text-box">
					<h4 class="proj-heading">Calculator</h4>
					<div class="proj-skills-type-wrapper">
						<img class="proj-skill-image" src="images/html.webp" alt="html logo" />
						<img class="proj-skill-image" src="images/css.webp" alt="css logo" />
						<img class="proj-skill-image" src="images/javascript.webp" alt="javascript logo" />
					</div>
					<ul class="proj-text">
						<li class="css">CSS styling</li>
						<ul>
							<li>Centers calculator</li>
							<li>Color buttons and calculator frame</li>
													<li>Responsive design</li>

						</ul>
                        <li class="javascript">Javascript</li>
						<ul>
							<li>DOM Manipulation</li>
							<li>Variables to captured and operate on numbers</li>
						</ul>
					</ul>
					<div class="proj-btn-section">
						<a aria-label="Link to calculator website" class="proj-button"
							href="https://jevonthompsonx.github.io/calculator/">
							<span><img class="button-images" src="images/sandbox.webp"
									alt="Sandbox with html logo" /></span>
							Try
						</a>
						<a aria-label="Link to Calculator repository"
							href="https://github.com/JevonThompsonx/calculator" class="proj-button">
							<span><img class="button-images" src="images/github.webp" alt="Github logo" /></span>
							Repo
						</a>
					</div>
				</div>
			</div>
