			<div class="proj-card">
				<div class="proj-img-box">
					<img src="images/proj-carolina.webp" alt="" class="proj-img" />
				</div>
				<div class="proj-text-box">
					<h4 class="proj-heading">Carolina heals</h4>
					<div class="proj-skills-type-wrapper">
						<img class="proj-skill-image" src="images/html.webp" alt="" />
						<img class="proj-skill-image" src="images/css.webp" alt="" />
						<img class="proj-skill-image" src="images/bootstrap.webp" alt="" />
						<img class="proj-skill-image" src="images/javascript.webp" alt="" />
					</div>
					<ul class="proj-text">
						<li class="bootstrap">Bootstrap base styling</li>
						<li>Calendly integration for scheduling</li>
						<li>SEO optimized</li>
						<li>Accessibility focused</li>
						<li>Responsive design</li>
					</ul>
					<div class="proj-btn-section">
						<a aria-label="Link to carolina heals website" class="proj-button"
							href="https://www.carolinaheals.com">
							<span><img class="button-images" src="images/sandbox.webp"
									alt="Sandbox with html logo" /></span>
							Try
						</a>
						<a aria-label="Link to Carolina heals website repository"
							href="https://github.com/JevonThompsonx/Carolina" class="proj-button">
							<span><img class="button-images" src="images/github.webp" alt="Github logo" /></span>
							Repo
						</a>
					</div>
				</div>
			</div>
