			<div class="proj-card">
				<div class="proj-img-box">
					<img src="images/proj-dict.webp" alt="" class="proj-img" />
				</div>
				<div class="proj-text-box">
					<h4 class="proj-heading">Dictionary API</h4>
					<div class="proj-skills-type-wrapper">
						<img class="proj-skill-image" src="images/html.webp" alt="" />
						<img class="proj-skill-image" src="images/css.webp" alt="" />
						<img class="proj-skill-image" src="images/bootstrap.webp" alt="" />
						<img class="proj-skill-image" src="images/javascript.webp" alt="" />
					</div>

						<ul class="proj-text">
							<li class="javascript">Javascript DOM manipulation</li>
							<ul>
								<li>Dark mode toggle</li>
								<li><a aria-label="Link to Dictionary API's homepage"
										href="https://dictionaryapi.dev">https://dictionaryapi.dev's</a> search on
										load and submit </li>
							</ul>
							<li class="bootstrap">Responsive design</li>

						</ul>

					<div class="proj-btn-section">
						<a aria-label="Link to Dictionary API project" class="proj-button"
							href="https://jevonthompsonx.github.io/DictionaryAPI/">
							<span><img class="button-images" src="images/sandbox.webp"
									alt="Sandbox with html logo" /></span>
							Try
						</a>
						<a aria-label="Link to Dictionary Project github Repository"
							href="https://github.com/JevonThompsonx/DictionaryAPI" class="proj-button">
							<span><img class="button-images" src="images/github.webp" alt="Github logo" /></span>
							Repo
						</a>
					</div>
				</div>
			</div>
