			<div class="proj-card">
				<div class="proj-img-box">
					<img src="images/proj-linktree.webp" alt="" class="proj-img" />
				</div>
				<div class="proj-text-box">
					<h4 class="proj-heading">Linktree clone</h4>
					<div class="proj-skills-type-wrapper">
						<img class="proj-skill-image" src="images/html.webp" alt="" />
						<img class="proj-skill-image" src="images/css.webp" alt="" />
						<img class="proj-skill-image" src="images/bootstrap.webp" alt="" />
					</div>

						<ul class="proj-text">
							<li class="bootstrap">Bootstrap quick styling</li>
							<li class="javascript">Javascript share button</li>
							<li>Responsive design</li>
						</ul>

					<div class="proj-btn-section">
						<a aria-label="Link to Linktree Clone website" class="proj-button"
							href="https://link-tree-clone-mu.vercel.app/">
							<span><img class="button-images" src="images/sandbox.webp"
									alt="Sandbox with html logo" /></span>
							Try
						</a>
						<a aria-label="Link to Linktree Clone website Repository"
							href="https://github.com/JevonThompsonx/LinkTree-Clone" class="proj-button">
							<span><img class="button-images" src="images/github.webp" alt="Github logo" /></span>
							Repo
						</a>
					</div>
				</div>
			</div>
